  
  #faq {
    max-width: 700px;
    margin: auto;
    margin-top: 20px;
    padding: 0 15px;
    text-align: center;
  }
  
  section.faq {
    padding-top: 2em;
    padding-bottom: 3em;
  }
  
  #faq ul {
    text-align: left;
  }
  .transition, p, .drop-ul li i:before, .drop-ul li i:after {
    transition: all 0.3s;
  }
  
  #faq .no-select, #faq h2 {
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
    user-select: none;
  }
  
  #faq h1 {
    color: hsl(255, 8%, 15%);
    margin-bottom: 30px;
    margin-top: 0;
  }
  
  #faq h2 {
    color: var(--blue);
    font-family: 'hm_light', sans-serif;
    font-size: 22px;
    line-height: 34px;
    text-align: left;
    padding: 15px 15px 0;
    text-transform: none;
    font-weight: 550;
    letter-spacing: 1px;
    display: block;
    margin: 0;
    cursor: pointer;
  }
  
  #faq .li-content {
    color: #333;
    text-align: left;
    font-size: 14px;
    line-height: 1.45;
    position: relative;
    overflow: hidden;
    contain: layout;
    display: inline-block;
    opacity: 1;
    transform: translate(0, 0);
    margin-top: 5px;
    margin-bottom: 15px;
    padding: 0 20px 0 20px;
    transition: all 0.5s ease;
    hyphens: auto;
    z-index: 1;
  }
  .li-content h3{
    color: hsl(255, 8%, 15%);
  }
  .li-content h4{
    color: hsl(250, 8%, 40%);
  }
  .li-content p{
    color: hsl(250, 8%, 40%);
    font-weight: 500;
    text-align: justify;
  }
  .li-content p a{
    color: blue;
  }
  #faq ul {
    list-style: none;
    perspective: 900;
    padding: 0;
    margin: 0;
  }
  #faq ul li {
    position: relative;
    overflow: hidden;
    padding: 0;
    margin: 0;
    /*padding-bottom: 4px;*/
    /*padding-top: 18px;*/
    background: #fff;
    box-shadow: 0 3px 10px -2px rgba(0,0,0,0.1);
    -webkit-tap-highlight-color: transparent;
  }
  #faq ul li + li {
    margin-top: 15px;
  }
  #faq ul li:last-of-type {
    padding-bottom: 0;
  }
  #faq ul li i {
    position: absolute;
    transform: translate(-6px, 0);
    margin-top: 28px;
    right: 15px;
  }
  #faq ul li i:before, .drop-ul li i:after {
    content: "";
    position: absolute;
    background-color: var(--blue);
    width: 3px;
    height: 9px;
  }
  #faq ul li i:before {
    transform: translate(-2px, 0) rotate(45deg);
  }
  #faq ul li i:after {
    transform: translate(2px, 0) rotate(-45deg);
  }
  #faq ul li input[type=checkbox] {
    position: absolute;
    cursor: pointer;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 0;
    touch-action: manipulation;
  }

  #faq ul li input[type=checkbox]:checked ~ .li-content {
    /*margin-top: 0;*/
    max-height: 0;
    transition: .3s;
    opacity: 0;
    /*transform: translate(0, 50%);*/
  }
  #faq ul li input[type=checkbox]:checked ~ i:before {
    transform: translate(2px, 0) rotate(45deg);
  }
  #faq ul li input[type=checkbox]:checked ~ i:after {
    transform: translate(-2px, 0) rotate(-45deg);
  }

.container{
    z-index: 1;
}

.github-btn-container a {
    margin: 0px 10px;
    display: inline-block;
    padding:16px;
    border-radius: 8px;
    color: #fff;
    text-decoration: none;
    font-family: sans-serif;
    font-size: 16px;
    font-weight: 550;
    letter-spacing:1px;
    transition: all 0.3s ease;
    background-color: var(--blue)
}
.github-btn-container a:hover {
    background-color: var(--blue-darker)
}
.github-btn-container{
    margin: 20px;
    display: flex;
    justify-content: center;
}

.iframe-container {
  position: relative;
  overflow: hidden;
  width: 100%;
  padding-top: 56.25%; /* 16:9 Aspect Ratio (divide 9 by 16 = 0.5625) */
}
.responsive-iframe {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
}