<div class="container">
    <div class="title-container">
        <h1>{{translation['title'][language]}}</h1>
    </div>
    <div class="github-btn-container">
        <a href="https://github.com/Tyrone09876543" target="_blank">{{translation['github'][language]}}</a>
    </div>
<div id="faq">
  <ul class="drop-ul">
    <li *ngFor="let project of translation['projects']">
      <input type="checkbox" checked>
      <i></i>
      <h2>{{project["title"][language]}}</h2>
      <div class="li-content">
        <h4>{{project["second-title"][language]}}</h4>
        <p [innerHTML]="project['paragraph'][language]"></p>
        <br>
        <div class="iframe-container">
          <iframe class="responsive-iframe" [src]="project['video'][language] | safe"  frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
      </div>
    </li>
  </ul>
</div>
</div>