<div class="container">
    <div class="img-container">
        <img src="assets/images/me.jpg" alt="Ysaac Andujar">
    </div>
    <div class="resume-container">
        <h1>{{translation["title"][language]}}</h1>
        <h2>{{translation["second-title"][language]}}</h2>
        <p>{{translation["paragraph"][language]}}
        </p>
    </div>
</div>
<div class="container-btn">
    <a class="normal-btn" href="assets/pdf/{{pdf[language]}}" target="_blank">CV<i class="fa-solid fa-download"></i></a>
    <a class="normal-btn" href="contactame" routerLink="contactme">{{translation["contactme"][language]}}</a>
</div>

