<div class="container">
    <div class="img-container">
        <img src="assets/images/me.jpg" alt="Ysaac Andujar">
    </div>
    <div class="resume-container">
        <h1>Hola, soy Ysaac Andujar</h1>
        <h2>Desarrollador de Software</h2>
        <p>Soy un programador y desarrollador destacado en el área de BackEnd, no obstante puedo trabajar como 
        desarrollador Full Stack sin problemas.  Mis lenguajes preferidos son Python, JavaScript y C#, pero siempre
        estoy dispuesto a aprender nuevos lenguajes y tecnologías.
        Trabajo con responsabilidad, creatividad, y dedicación.
        </p>
    </div>
</div>
<div class="container-btn">
    <button type="button" class="normal-btn" >CV<i class="fa-solid fa-download"></i></button>
    <a class="normal-btn" href="contactame" routerLink="contactme">Contacta me!</a>
</div>

