<footer>
    <hr>
    <ul class="social-list">
        <li><a href="https://github.com/Tyrone09876543" target="_blank"><i class="fa-brands fa-github"></i></a></li>
        <li><a href="https://www.linkedin.com/in/ysaac-andujar-binet-982517232/" target="_blank"><i class="fa-brands fa-linkedin"></i></a></li>
        <li><a href="https://wa.me/18492818385" target="_blank"><i class="fa-brands fa-whatsapp"></i></a></li>
        <li><a href="https://t.me/Tyrone09876543" target="_blank"><i class="fa-brands fa-telegram"></i></a></li>
    </ul>
    <p>1.1.1</p>
</footer>
