footer{
    background: rgb(245, 245, 245);
    /*background-color: var(--blue);*/
    padding: 10px 20px;
    display: flex;
    justify-content: center;
    position: absolute;
    width: 100%;
    flex-direction: column;
    bottom: 0;
    text-align: center;

}
footer hr{
    border: none;
    border-top: 1px solid rgba(117, 117, 117, 0.445);
    margin: 30px 0;
}
.social-list{
    display:flex;  
    list-style:none;
    justify-content: center;

}
.social-list li{
    font-size: 30px;
    margin: 0px 25px;
}
footer p{
    color: rgba(117, 117, 117, 0.445);
    font-weight: 600;
    font-size: 15px;
    letter-spacing: 1px;
    position: absolute;
    right: 20px;
    bottom: 10px;
}
.social-list li a{
    color: rgba(88, 88, 88, 0.938);
    transition: all 0.3s ease;
}

.social-list li a:hover{
    color: var(--blue);
}
@media (max-width: 905px) {
    footer p{
        position: static;
    }
}
