/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');
:root{
  --blue-darker: hsl(213, 97%, 39%);
  --blue: hsl(209, 100%, 42%);
}
/*hsl(250, 69%, 61%)*/
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
.normal-btn{
  text-decoration: none;
  background-color: var(--blue);
  border-radius: 8px;
  border-style: none;
  color: white;
  cursor: pointer;
  font-size: 20px;
  font-weight: 500;
  line-height: 20px;
  margin: 0;
  padding: 10px 16px;
  margin: 5px 10px;
}
.normal-btn i{
  margin-left: 10px;
}
.normal-btn:hover,
.normal-btn:focus {
  background-color: var(--blue-darker);
}